{% extends "../base.html" %}

{% block content %}
    {% if let Some(contact) = contact %}
        {% if !already_exists %}
            <p>new contact has been created</p>
        {% endif %}
    {% endif %}

    {% if already_exists %}
        <p>error: contact already exists</p>
    {% endif %}

    <form action="/contacts/new" method="post">
        <fieldset>
            <legend>Contact values</legend>
            <p>
                <label for="email">email</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    {% if contact.is_some() %}
                        value="{{contact.as_ref().unwrap().email}}"
                    {% endif %}
                >
                <span class="error"></span>
            </p>
            <p>
                <label for="first_name">first name</label>
                <input 
                    type="text" 
                    name="first" 
                    id="first_name" 
                    placeholder="First Name"
                    {% if contact.is_some() %}
                        value="{{contact.as_ref().unwrap().first}}"
                    {% endif %}
                >
                <span class="error"></span>
            </p>     
            <p>
                <label for="last_name">last name</label>
                <input 
                    type="text" 
                    name="last" 
                    id="last_name" 
                    placeholder="Last Name"
                    {% if contact.is_some() %}
                        value="{{contact.as_ref().unwrap().last}}"
                    {% endif %}
                >
                <span class="error"></span>
            </p>
            <p>
                <label for="phone">phone</label>
                <input 
                    type="text" 
                    name="phone" 
                    id="phone" 
                    placeholder="Phone"
                    {% if contact.is_some() %}
                        value="{{contact.as_ref().unwrap().phone}}"
                    {% endif %}
                >
                <span class="error"></span>
            </p>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
    <a href="/contacts">Back</a>
{% endblock %}