{% extends "../base.html" %}

{% block content %}
    {% if let Some(contact) = contact %}
        <h1>{{contact.first}} {{contact.last}}</h1>

        <div>
            <div>
                Phone: {{contact.phone}}
            </div>
            <div>
                Email: {{contact.email}}
            </div> 
        </div>

        <p>
            <a href="/contacts/{{contact.id}}/edit">Edit</a>
            <a href="/contacts">Go back</a>
        </p>
    {% else %}
        <p>user not found</p>
        <a href="/contacts">Go back</a>
    {% endif %}
{% endblock%}
